.confirm {
  width: 92vw;
  margin-left: 4vw;
  margin-top: 10px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid gray;
}

.confirm td, .confirm th {
  padding: 10px;
}

@media only screen and (max-width: 500px) {
    .confirm {
        width: 99vw;
        margin-left: 0px;
        font-size: 15px;
    }
}