@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.navBar {
  background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1)); /* Standard syntax (must be last) */
  display: flex;
  justify-content: flex-end;
}

.overlay-bg {
  position: absolute;
  width: 100%;
  height: 90vh;
  background-color: black;
  z-index: 1;
  opacity: 0.5;
}

.overlay-text-container{
  position: absolute;
  top:45%;
  left:20%;
  right:20%;
  padding: 20px;
  color: white;
  border: solid;
  border-color:white;
  opacity: 1;
  border-width: thick;
  z-index: 2;
}

.overlay-text {
  font-size: 80px;
  font-weight: 700;
}

.sponsors {
  margin: 5px 0px 5px 0px;
}

.sponsors > svg {
  font-size: 2rem;
  margin: 10px 1vw 10px 1vw;
}

/* Hide the football image on small devices */
@media only screen and (max-width: 860px) {
  .football-image {
    visibility: hidden;
    width: 0px;
  }

  .register-card {
    position: absolute;
  }
}

/* Resize the overlay-text for small screens*/
@media only screen and (max-width: 754px) {
  .overlay-text-container {
    left: 15%;
    right: 15%;
    padding: 5px;
  }
  .overlay-text {
    font-size: 40px;
  }
  table {
    font-size: 15px
  }
}

/* Resize sponsors for small screens*/
@media only screen and (max-width: 481px) {
  .sponsors > svg {
    font-size: 1.4rem;
  }
}

/* ----------- Footer ---------------------------*/
td{
  text-align: left;
  padding: 5px 2px;
  color: #dee2e6;
}

th{
  color: #adb5bd;
  text-align: left;
  font-size: small;
}

tr{
  margin: 30%;
}

table{
  margin-left: auto;
}